@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

#loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(224, 224, 224);
  background-color: rgb(34, 49, 78);
  padding: 0 40px 40px;
  border-radius: 20px;
  min-width: 400px;
  min-height: 500px;
}

#AdminBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(224, 224, 224);
  background-color: rgb(34, 49, 78);
  padding: 0 40px 40px;
  border-radius: 20px;
  min-width: 400px;
  min-height: 580px;
}

#FilesBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(224, 224, 224);
  background-color: rgb(34, 49, 78);
  padding: 0 40px 40px;
  border-radius: 20px;
  min-width: 600px;
  min-height: 400px;
}

#titolo {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-bottom: 20px;
}

#formFiles {
  width: 100%;
  height: 100px;
}

input[type="file"] {
  display: none;
}

.uploadBottoni button {
  font-size: 18px;
  font-weight: bold;
  color: rgb(27, 38, 59);
  font-weight: 700;
  font-family: "Poppins", serif;
  background-color: rgb(224, 224, 224);
  color: rgb(27, 38, 59);
  border: 2px solid rgb(34, 49, 78);
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}


.uploadBottoni button:hover {
  font-size: 18px;
  font-weight: bold;
  color: rgb(224, 224, 224);
  background-color: rgb(34, 49, 78);
  border: 2px solid rgb(224, 224, 224);
  cursor: pointer;
  transition: 0.17s;
}


#formLogin {
  width: 100%;
  height: 100px;
}

h3 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(224, 224, 224);
  font-size: 20px;
  margin-bottom: 5px;
}

.input {
  width: 94%;
  margin-top: 10px;
  margin-right: 10%;
  margin-bottom: 20px;
}
.input input {
  width: 100%;
  background: transparent;
  border: none;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px;
  font-size: 15px;
  color: rgb(224, 224, 224);
  padding: 20px 0px 20px 20px;
  font-weight: bold;
}

.input input:focus {
  outline: none; /* Rimuove il bordo bianco predefinito */
  border: 2px solid rgb(74, 144, 226); /* Mantiene il bordo azzurro */
  transition: border-color 0.3s ease; /* Aggiunge una transizione al focus */
}

.fileUpload {
  margin-top: 50px;
}

#containerPulsanti {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  height: 100px;
}

#containerPulsanti button {
  width: 100%;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(34, 49, 78);
  font-weight: 700;
  font-family: "Poppins", serif;

  background-color: rgb(224, 224, 224);
  border: 2px solid rgb(34, 49, 78);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.17s;
}

#containerPulsanti button:hover {
  font-size: 18px;
  font-weight: bold;
  color: rgb(224, 224, 224);
  background-color: transparent;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.17s;
}

h1 {
  font-weight: 700;
  font-style: normal;
  color: rgb(224, 224, 224);
  font-size: 60px;
}

body {
  background-color: rgb(37, 37, 37);
  font-family: "Poppins", serif;
}
.password-container {
  position: relative;
}

.show-password-button {
  background: none;
  border: none;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgb(224, 224, 224);
}

.input {
  position: relative;
}