/* Stili generali */
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  padding: 40px;
  background-color: rgb(34, 49, 78);
  min-height: 80vh; /* Altezza minima per evitare sovrapposizioni */
  max-width: 90%;
  width: 1500px; /* Larghezza fissa */
  border-radius: 15px;
}

.dashboard-title {
  margin-top: 100px;
  text-align: center;
}

/* Layout con CSS Grid */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 25px;
}

/* Stili per i widget */
.widget {
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
  height: 320px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Dimensioni specifiche per i widget */
.large {
  grid-column: span 2; /* Occupa tutta la riga */
}

.medium {
  grid-column: span 1; /* Occupa una colonna */
}

.widget-icon {
  margin-right: 10px;
}