/* Stili generali */
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(27, 38, 59);
    color: rgb(218, 218, 218);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Navbar della pagina principale */
.navbar-principale {
    justify-content: flex-end;
}

/* Navbar secondaria */
.navbar-secondaria {
    justify-content: space-between;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center; /* Centra verticalmente i contenuti */
}

/* Bottone Indietro */
.bn-indietro {
    background: none;
    border: none;
    color: rgb(218, 218, 218);
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.bn-indietro:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Bottone per aprire il menu */
.nav-button {
    background: none;
    border: none;
    color: rgb(218, 218, 218);
    font-size: 1.5rem;
    border-radius: 50px;
    margin-bottom: 5px;
    padding: 7px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block; /* Assicura che il dropdown rimanga vicino al bottone */
    margin-top: 12px;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: auto;  /* Evita che si sposti a sinistra */
    right: 0;    /* Allinea il menu alla destra del pulsante */
    background: #2c3e50;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 200px; /* Previene che il menu sia troppo largo */
    overflow: hidden; /* Evita che il contenuto esca fuori */
    z-index: 2000; /* Assicura che il menu sia sopra gli altri elementi */
}

/* Stile per i pulsanti nel menu */
.dropdown-menu button {
    background: none;
    border: none;
    color: rgb(218, 218, 218);
    font-size: 1.1rem;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    white-space: nowrap; /* Evita che il testo vada a capo */
}

.dropdown-menu button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.dropdown-menu .logout:hover {
    color: #c0392b;
}

.icon {
    margin-right: 5px;
}