body{



    background-color: #101829;
}

.title {
    margin-top: 100px;
    text-align: center;
}

.spiegazione {
    margin-bottom: 50px;
    text-align: center;
}

.grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}